{
    "configurations": [
        {
            "name": "Win32",
            "includePath": [
                "${workspaceFolder}/**",
                "C:/Users/${env:USERNAME}/AppData/Local/Arduino15/packages/arduino/hardware/avr/*/cores/arduino",
                "C:/Users/${env:USERNAME}/AppData/Local/Arduino15/packages/arduino/hardware/avr/*/variants/standard",
                "C:/Users/${env:USERNAME}/AppData/Local/Arduino15/packages/arduino/hardware/avr/*/libraries/**",
                "C:/Program Files (x86)/Arduino/hardware/arduino/avr/cores/arduino",
                "C:/Program Files (x86)/Arduino/hardware/arduino/avr/variants/standard",
                "C:/Program Files (x86)/Arduino/hardware/arduino/avr/libraries/**",
                "C:/Program Files (x86)/Arduino/libraries/**",
                "C:/Users/${env:USERNAME}/Documents/Arduino/libraries/**"
            ],
            "defines": [
                "ARDUINO=10819",
                "ARDUINO_AVR_UNO",
                "ARDUINO_ARCH_AVR",
                "__AVR_ATmega328P__",
                "F_CPU=16000000L"
            ],
            "compilerPath": "C:/Program Files (x86)/Arduino/hardware/tools/avr/bin/avr-gcc.exe",
            "cStandard": "c11",
            "cppStandard": "c++11",
            "intelliSenseMode": "gcc-x64"
        }
    ],
    "version": 4
}
